FOUNDRY_ENVIRONMENT=development
FOUNDRY_DATA_DIR=.data
FOUNDRY_DATABASE_URL=sqlite+aiosqlite:///./.data/foundry.db
FOUNDRY_CORS_ORIGINS=["http://localhost:3000","http://localhost:4173"]
# Production/GCE: /etc/foundry/secrets/master.key
FOUNDRY_MASTER_KEY_PATH=.data/master.key

